<% content_for(:title, @movie.title) %>

<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2><%= format_average_stars(@movie) %></h2>
    <h2>Released: <%= @movie.released_on %></h2>
    <p>
      <%= pluralize(@fans.size, 'fan') %>
    </p>

    <% if current_user %>
      <% if @current_fav %>
        <%= button_to "Unfavorite", movie_favorite_path(@movie, @current_fav), method: :delete %>
      <% else %>
        <%= button_to "Favorite", movie_favorites_path(@movie) %>
      <% end %>
    <% end %>

    <% content_for(:side) do %>
      <% if @fans.any? %>
        <h3>Fans</h3>
        <ul>
          <% @fans.each do |user| %>
            <li>
              <%= link_to user.name, user %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if @genres.any? %>`
        <h3>Categories</h3>
        <ul>
          <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name.capitalize, genre %>
          </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

  </header>

  <p>
    <%= @movie.description %>
  </p>

  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </h3>

  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>



  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
        <%= link_to 'Delete', @movie,
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Reviews', movie_reviews_path(@movie), class: 'button' %>
        <%= link_to 'Add Review', new_movie_review_path(@movie), class: 'button' %>
      <% end %>
    </nav>
  </footer>
</article>
