<header>
  <h1><%= link_to @movie.title, @movie %></h1>
</header>
<% @reviews.each do |review| %>
<section>

  <p><%= link_to review.user.name, review.user %></p>
  <p><%= link_to time_ago_in_words(review.updated_at), movie_review_path(review.movie, review) %></p>
  <p><%= pluralize review.stars, 'star' %></p>
  <p><%= review.comment %></p>

</section>
<% end %>
